
@media screen and (min-width: 760px) {
    nav {
        display: inline-block;
        align-content: center;
    }

    /* Removes decorations from list, Displays navigation bar horizontally for desktop */ 
nav li {
    list-style-type: none;
    text-decoration-style: none;
    display: flex;
    float: left;
    padding-right: 50px;
}

/* Changes search bar size */
.search input {
    padding: 10px;
    width: 80%;
    margin: 10px;
}

    /* Centers text within buttons */
    .services button {
        text-align: center;
    }

    /* Floats image to wrap around text */
    .about img {
        display: flex;
        float: left;
    }

    /* Setting grid area template */
    .digital {
        grid-area: digital;
        }
        
        .marketing {
        grid-area: marketing;
        }
        
        .video {
        grid-area: video;
        }
        
        .web {
        grid-area: web;
        }
        
        .print {
        grid-area: print;
        }
        /* Grid set up (Digital and marketing on top, video, web, and print on bottom */
    .services {          
        grid-template-areas: "digital digital digital marketing marketing marketing"
        "video video web web print print";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

/* Floating text around image */
    .john img {
display: inline-block;
float: left;
    }

/* Floating text around image */
    .bob img {
display: inline-block;
float: right;
    }
  }

  /* Max width of container is 1200px. */
.container {
    max-width: 1200px;
    margin: auto;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    display: block;  

}    

/* Changes nav background to black. */
header {
    background-color: #222;
}

nav li {
    text-decoration-style: none;
    list-style-type: none;
}

nav li button {
    width: 100%;
}

.search {
    display: inline-block;
    float: left;
}

/* adds and centers the banner image, changes the text color to white and adds padding */
.main {
    background-image: url(/images/main-banner.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    padding: 50px;
}

/* Main button */
button {
    background-color: #222;
    border: none;
    color: #c78c06;
    width: 10em;
    height: 3em;
}

/* Sets main background */
article {
 background-color: black;
}

.about {
    background-color: #ffe6ac;
}

.about img {
    height: 300px;
    width: auto;
}


.main button {
    margin: 10px;
    width: 200px;
    height: 75px;
    font-size: 1.5em;
    background-color: #c78c06;
    color: black; 
}

h1 {
    font-size: 48px;
}

.main img {
    display: none;
}
a:hover {
    color: black;
}

nav li a:hover {
    color: black;
}

a {
    text-decoration: none;
    color: #c78c06;
}

a:visited {
    text-decoration: none;
    color: #c78c06;
}

button:hover {
    background-color: #c78c06;
    color: black;
}

.wrapper {
    width: 100%;
    margin: 0;
}
.services {
    display: grid;
    width: 760px;
    margin: auto;
}

.services div {
    background-color: #ffe6ac; 
    margin: 5px;
}

.services img {
    width: 100%;
}

.services button {
    background-color: black;
    color: white;
    margin: 10px;
    width: 200px;
    height: 75px;
    font-size: 1.5em;
}

.vision {
    background-image: url(/images/vision.jpg);
    background-position: center;
    color: white;
}

.vision img {
    display: none;
}

.vision button {
    margin: 10px;
    width: 200px;
    height: 75px;
    font-size: 1.5em;
    background-color: #c78c06;
    color: black; 
}

.team div {
    background-color: #ffe6ac; 
}

hr {
    color: #c78c06;
}

.contact fieldset {
border: 0;
}



th {
    background-color: #ffe6ac;
    border: 1px solid black; 
}

td {
    border: 1px solid black;
}

thead {
    border: 1px solid black;
}

footer {
    background-color: #222;
    color: #c78c06;
}

