@media screen and (max-width: 760px;) {
{ max-width: 760px;
}
}
.container {
    max-width: 1200px;
}

body {
    font-family: 'Open Sans', sans-serif;  
    font-size: 1em;
    margin: auto
}


nav {
    background-color: #222;
}

nav li {
    text-decoration: none;
    list-style-type: none;
    color: black;
    display: grid;
    width: 100%
}

nav button {
    width: 100%;
}

.search button {
    width: auto;
}

.main {
    background-image: url(/images/main-banner.jpg);
    background-size: cover;
    color: white;
    padding: 10px;
    margin: auto;
}

.about {
    background-color: #ffe6ac; 
}

.main h1 p {
    background-color: black;
}

.main button {
    width: 250px;
    height: 4em;
    background-color: #c78c06;
    color: black;
}

h1 {
    font-size: 48px;
}

.main img {
    display: none;
}
a:hover {
    color: black;
}

nav li a:hover {
    color: black;
}

a {
    text-decoration: none;
    color: #c78c06;
}

a:visited {
    text-decoration: none;
    color: #c78c06;
}

button:hover {
    background-color: #c78c06;
    color: black;
}

button {
    background-color: #222;
    border: none;
    color: #c78c06;
    width: 10em;
    height: 3em;
}

.about img{
    margin-top: 10px;
    width: fit-content;
    height: fit-content;
}

.services div {
    background-color: #ffe6ac; 
    margin: 10px;
}

.vision {
    background-image: url(/images/vision.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    max-width:max-content;
}

.vision img {
    display: none;
}

.team div {
    background-color: #ffe6ac; 
}

.form {
    display: grid;
    margin: 100px;
}

.digital {
    grid-area: "digital";
    }
    
    .marketing {
    grid-area: "marketing";
    }
    
    .video {
    grid-area: "video";
    }
    
    .web {
    grid-area: "web";
    }
    
    .print {
    grid-area: "print";
    }
    

.services {
    display: grid;
    grid-template-areas: "digital digital digital marketing marketing marketing"
    "video video web web print print";
    grid-row: 1fr 1fr 1fr;
    grid-column: 1fr 1fr 1fr;

}

