/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@media screen and (min-width: 760px) {
    nav {
        display: inline-block;
        align-items: center;
        justify-content: center;
    }

    /* Removes decorations from list, Displays navigation bar horizontally for desktop */
    nav li {
        list-style-type: none;
        display: flex;
        float: left;
        padding-right: 50px;
    }

    /* Changes search bar size */
    .search input {
        padding: 10px;
        width: 80%;
        margin: 10px;
    }

    /* Centers text within buttons */
    .services button {
        text-align: center;
    }

    /* Floats image to wrap around text */
    .about img {
        display: block;
        float: left;
        padding-bottom: 20px;
    }

    .about {
        padding-bottom: 30px;
    }

    /* Setting grid area template */
    .digital {
        grid-area: digital;
    }

    .marketing {
        grid-area: marketing;
    }

    .video {
        grid-area: video;
    }

    .web {
        grid-area: web;
    }

    .print {
        grid-area: print;
    }

    /* Grid set up (Digital and marketing on top, video, web, and print on bottom */
    .services {
        grid-template-areas: "digital digital digital marketing marketing marketing"
            "video video web web print print";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    /* Floating text around image */
    .john img {
        display: flex;
        float: left;
    }

    /* Floating text around image */
    .bob img {
        display: flex;
        float: right;
    }
/* Grid for form location and hours */
    .message {
        grid-area: message;
    }

    .location {
        grid-area: location;
    }

    .hours {
        grid-area: hours;
    }

    .contact {
        display: grid;
        width: 100%;
        grid-template-areas: "message location" 
        "hours hours";
        grid-template-rows: 500px 250;
        grid-template-columns: 1fr 1fr;
    }


}

/* Max width of container is 1200px. */
.container {
    max-width: 1200px;
    margin: auto;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    display: block;

}

/* Changes nav background to black. */
header {
    background-color: #222;
}

nav li {
    list-style-type: none;
}

nav li button {
    width: 100%;
}

.search {
    display: inline-block;
    float: left;
}

/* adds and centers the banner image, changes the text color to white and adds padding */
.main {
    background-image: url(../images/main-banner.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    padding: 50px;
}

/* Main button */
button {
    background-color: #222;
    border: none;
    color: #c78c06;
    width: 10em;
    height: 3em;
}

/* Sets main background */
article {
    background-color: black;
}

.about {
    background-color: #ffe6ac;
    padding-bottom: 35px;
}

.about img {
    height: 300px;
    width: auto;
}

.main button {
    margin: 10px;
    width: 200px;
    height: 75px;
    font-size: 1.5em;
    background-color: #c78c06;
    color: black;
}

h1 {
    font-size: 48px;
}

.main img {
    display: none;
}

a:hover {
    color: black;
}

nav li a:hover {
    color: black;
}

a {
    text-decoration: none;
    color: #c78c06;
}

a:visited {
    text-decoration: none;
    color: #c78c06;
}

button:hover {
    background-color: #c78c06;
    color: black;
}

.wrapper {
    width: 100%;
}

.services {
    display: grid;
    width: 760px;
    margin: auto;
}

.services div {
    background-color: #ffe6ac;
    margin: 5px;
}

.services img {
    width: 100%;
}

.services button {
    background-color: black;
    color: white;
    margin: 10px;
    width: 200px;
    height: 75px;
    font-size: 1.5em;
}

.vision {
    background-image: url(/images/vision.jpg);
    background-position: center;
    color: white;
}

.vision img {
    display: none;
}

.vision button {
    margin: 10px;
    width: 200px;
    height: 75px;
    font-size: 1.5em;
    background-color: #c78c06;
    color: black;
}

.team div {
    background-color: #ffe6ac;
}

hr {
    color: #c78c06;
}

.contact fieldset {
    border: 0;
}

th {
    background-color: #ffe6ac;
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

thead {
    border: 1px solid black;
}

table {
    width: 100%;
}

footer {
    background-color: #222;
    color: #c78c06;
}